{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portofolio</title>
</head>

<body>

    <!-- bagian kepala -->
    <input type="checkbox" id="lihat">
    <div class="sidebar">
        <ul>
            <li> <a href="">About</a></li>
            <li> <a href="">Dashboard</a></li>
            <li> <a href="">front</a></li>
        </ul>
    </div>

    <div class="navbar">
        <div>
            <h1>FRONT WARUWU</h1>
        </div>

        <div>
            <ul>
                <li> <a href="">About</a></li>
                <li> <a href="">Dashboard</a></li>
                <li> <a href="">front</a></li>
            </ul>
        </div>

        <div class="menu">
            <label for="lihat" class="menu-baru"><i class="fas fa-bars fa-2x"></i></label>
        </div>

    </div>
    <!-- Bagian Isi -->
<div class="warnasemua">
    <div class="main-besar">
        <div class="main">
            <h1>Halo Semua Saya, <br> <span class="font-bold"> FRONTMENT</span></h1>
            <h2>Mahasiswa UKRIM</h2>
            <p>Belajar Web Itu Menyenangkan</p>
        </div>
        <div class="gambar">
            <img class="selebew" src="/static/assets/img/front1-removebg-preview (2).png" alt="">
        </div>
    </div>

    <div id="about">
        <div class="container">
            <h3>About</h3>
            <p>Saya adalah seorang mahasiswa semester 4 yang sedang menempuh pendidikan di Universitas Kristen
                Imanuel(UKRIM). Saat ini, saya fokus pada jurusan informatika. Menjalani kuliah di UKRIM adalah
                pengalaman yang luar biasa bagi saya.
                Selama studi saya di jurusan informatika, saya telah belajar berbagai konsep dan teknologi terkini yang
                terkait dengan ilmu komputer. Mata kuliah yang saya ambil meliputi pemrograman, basis data, jaringan
                komputer, pemograman web, dan pengembangan perangkat lunak.
            </p>
        </div>
    </div>
    <!--buat 3 colum dalam bentuk grid-->
    <div class="skill">
        <h3>Project</h3>
        <div class="container-2">
            <div class="card">
                <div class="thumb">
                    <img src="/static/assets/img/front1-removebg-preview (2).png" alt="">
                </div>
                <article>
                    <h1>SEWAH KOST</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque at iste corporis sequi dolores voluptatem, eius praesentium numquam rem, ad, explicabo accusantium. Id omnis libero odio laboriosam, impedit exercitationem nihil!</p>
                </article>
            </div>
            <div class="card">
                <div class="thumb">
                    <img src="/static/assets/img/front1-removebg-preview (2).png" alt="">
                </div>
                <article>
                    <h1>FRONT WARUWU</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque at iste corporis sequi dolores voluptatem, eius praesentium numquam rem, ad, explicabo accusantium. Id omnis libero odio laboriosam, impedit exercitationem nihil!</p>
                </article>
            </div>
            <div class="card">
                <div class="thumb">
                    <img src="/static/assets/img/front1-removebg-preview (2).png" alt="">
                </div>
                <article>
                    <h1>FRONT WARUWU</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque at iste corporis sequi dolores voluptatem, eius praesentium numquam rem, ad, explicabo accusantium. Id omnis libero odio laboriosam, impedit exercitationem nihil!</p>
                </article>
            </div>
            <div class="card">
                <div class="thumb">
                    <img src="/static/assets/img/front1-removebg-preview (2).png" alt="">
                </div>
                <article>
                    <h1>FRONT WARUWU</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque at iste corporis sequi dolores voluptatem, eius praesentium numquam rem, ad, explicabo accusantium. Id omnis libero odio laboriosam, impedit exercitationem nihil!</p>
                </article>
            </div>
            <div class="card">
                <div class="thumb">
                    <img src="/static/assets/img/front1-removebg-preview (2).png" alt="">
                </div>
                <article>
                    <h1>FRONT WARUWU</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque at iste corporis sequi dolores voluptatem, eius praesentium numquam rem, ad, explicabo accusantium. Id omnis libero odio laboriosam, impedit exercitationem nihil!</p>
                </article>
            </div>
        </div>
    </div>
    <div class="hubungin">
        <h3>Hubungin Saya</h3>
    </div>
    <div class="hubunginsaya">
        <div class="nomor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore error veniam odio ad, eos voluptatibus tempore aspernatur quae! Obcaecati, quisquam voluptas? Natus perspiciatis nostrum libero laborum asperiores eligendi eveniet consectetur?</p>
        </div>
        <div class="nomor">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore error veniam odio ad, eos voluptatibus tempore aspernatur quae! Obcaecati, quisquam voluptas? Natus perspiciatis nostrum libero laborum asperiores eligendi eveniet consectetur?</p>
        </div>
    </div>

</div>
</body>

</html>